/dev/knvmap	0660	system	system
/dev/nvmap	0666	system	system
/dev/tegra_avp	0660	media	media
/dev/tegra_avpchannel	0660	media	media
/dev/tegra_audio_avpchannel	0660	media	media
/dev/tegra_rpc	0660	media	media
/dev/tegra_sema	0660	media	media
/dev/tegra_mediaserver	0660 	media 	media
/dev/ov5650	0660	media	camera
/dev/ov5640	0660	media	camera
/dev/ov2710	0660	media	camera
/dev/sh532u	0660	media	camera
/dev/fjm6mo	0660	media	camera
/dev/mi1040	0660	media	camera
/dev/i7002a	0660	media	camera
/dev/tps61050-1	0660	media	camera
/dev/tegra_camera 0660	media	camera
/dev/camera*	0660	media	camera
/dev/focuser*	0660	media	camera
/dev/torch*	0660	media	camera
/dev/video0	0660	media	camera
/dev/video1	0660	media	camera
/dev/ov14810	0660	media	camera
/dev/spdif*	0660	system	audio
/dev/tegra_dc*	0660	system	system
/dev/ttyACM*	0660	radio	system
/dev/ttyACM2	0660	radio	log
/dev/mpu	0640	system	system
/dev/mpuirq	0640	system	system
/dev/accelirq	0640	system	system
/dev/timerirq	0640	system	system
/dev/dsp_fm34   0660    system  audio
/dev/rt5631     0660    system  audio
/dev/wm8903     0660    system  audio
/dev/nvhdcp0    0666    system  system
/dev/nvhdcp1    0666    system  system
/dev/nvhost-ctrl	0666	root	root
/dev/nvhost-display	0666	root	root
/dev/nvhost-dsi	0666	root	root
/dev/nvhost-gr2d	0666	root	root
/dev/nvhost-gr3d	0666	root	root
/dev/nvhost-isp	0666	root	root
/dev/nvhost-mpe	0666	root	root
/dev/nvhost-vi	0666	root	root
/dev/tf_driver	0666	system	system
/dev/ttyHS1	0664	root	system
/dev/ttyHS2	0660	bluetooth	bluetooth
/dev/ion	0666	system	system
/dev/raydium_ts	0660	system	system
#/dev/pn544	0660	nfc	nfc
/dev/timerinfo	0444	system	system
/dev/block/mmcblk0p3    0660    root    system
/dev/block/mmcblk0p4    0660    root    system
/dev/block/mmcblk0p6    0600    drm     drm
/dev/touch_debug 0666    system  system
/dev/touchpanel 0660     system  system 
/dev/elan-iap   0660     system  system
/dev/sis_aegis_hid_touch_device		0666   root       root
/dev/sis_aegis_hid_bridge_touch_device	0666   root       root
/dev/sis_zeus_hid_touch_device		0666   root       root
/dev/sis_zeus_hid_bridge_touch_device	0666   root       root
/dev/asusdec     0660    system  system
/dev/asuspec     0660    system  system
